#eu-cookie-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: red;
    display: none;
    > .container {
        display: block;
    }
    h6 {
        display: block;
        margin: 0;
    }
    p {
        display: block;
        margin: 0;
    }
    a.close-eu-cookie-warning {
        display: inline-block;
        float: right;
    }
}
