// CLEARFIX

.row {
    *zoom: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// DEFAULT COLUMN STYLE

%column-style {
    width: 100%;
    float: none;
    box-sizing: border-box;
}

// generate the default linear layout
@mixin extend-column-styles($style) {
    // Cycle throgh the columns and add them to the imported style.
    @for $item from 1 through $grid-column-number {
        .#{$grid-column-class}-#{$item} {
            @extend %#{$style};
        }
    }
}

@mixin generate-classes-and-offsets($modifier) {
    // cycle through and calculate the width and offset margin of each column.
    @for $item from 1 through $grid-column-number {
        // generate the class and calculate column width
        // .class-number--modifier
        .#{$grid-column-class}-#{$item}#{$modifier} {
            width: $grid-width / ($grid-column-number/$item);
        }
        // calculate the offset
        .#{$grid-offset-class}-#{$item}#{$modifier} {
            margin-left: $grid-width / ($grid-column-number/$item);
        }
    }
    // create a class to remove the offset margin
    .offset-0#{$modifier} {
        margin-left: 0;
    }
    // create a class to hide the column
    .hide#{$modifier} {
        display: none;
    }
}

// include the linear layout as default
@include extend-column-styles (column-style);

@media (min-width:$breakpoint-xs) {
    %column-style--float {
        float: left;
    }
    // regenerate the column styles using floats
    @include extend-column-styles(column-style--float);
    @include generate-classes-and-offsets(null);
}

// BREAKPOINTS 

// mobile
@include breakpoint(mobile){
    @include generate-classes-and-offsets("--xs");
}
// tablet
@include breakpoint(tablet){
    @include generate-classes-and-offsets("--s");
}
// desktop
@include breakpoint(desktop){
    @include generate-classes-and-offsets("--m");
}
// large desktop
@include breakpoint(large-desktop){
    @include generate-classes-and-offsets("--l");
}
// superwide
@include breakpoint(superwide){
    @include generate-classes-and-offsets("--xl");
}
