// style for the loading spinner
.loading-spinner, .loading-spinner:before, .loading-spinner:after {
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
}

.loading-spinner:before, .loading-spinner:after {
    border: solid 5px #dcdcdc;
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
}

.loading-spinner {
    position: relative;
}

.loading-spinner:after {
    border-top: 5px solid #3882f5;
    animation: loading-spinner-animate 900ms ease infinite;
}

@keyframes loading-spinner-animate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
// <div class="loading-spinner"> </div>

// style for the cookie warning box
#eu-cookie-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff6d2;
    display: none;
    padding: 40px 0;
    > .container {
        display: block;
        position: relative;
    }
    h6 {
        display: block;
        margin: 0 0 10px 0;
        @include font-size(20);
    }
    p {
        display: block;
        margin: 0;
    }
    a.close-eu-cookie-warning {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }
}

// the default button style
%button-base {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    margin: 0;
    letter-spacing:.25px;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    font-weight: 600;
    text-shadow: none;
    @include font-size($font-size);
    @include radius($border-radius);
    @include transition(transform 100ms ease, background 100ms ease, box-shadow 100ms ease);
    @include box-sizing(border-box);
    @include user-select(none);
    @include box-shadow(0px 5px 7px -1px rgba(0, 0, 0, 0.12));
}

// the hover button style
%button-hover {
    @include transform(translate(0, -1px));
    @include box-shadow(0px 6px 7px -1px rgba(0, 0, 0, 0.2));
}

// the active button style
%button-active {
    @include transform(translate(0, 1px));
    @include box-shadow(0px 5px 7px -1px rgba(0, 0, 0, 0.12));
}

// generate the buttons
@mixin button ($button-modifier, $button-background-color, $button-hover-background-color, $button-active-background-color, $button-text-color) {
    a.button#{$button-modifier},
    a.button#{$button-modifier}:link,
    a.button#{$button-modifier}:visited {
        @extend %button-base;
        background: $button-background-color;
        color: $button-text-color;
    }
    a.button#{$button-modifier}:hover {
        @extend %button-hover;
        background: $button-hover-background-color;
        color: $button-text-color;
    }
    a.button#{$button-modifier}:active {
        background: $button-active-background-color;
        @extend %button-active;
    }
}

// @include button('--button-modifier', background color, hover color, active color, text color);
@include button(null, #37526d, #55779a, #55779a, #fff);
@include button('--red', #da3e2e, #f35343, #f35343, #fff);
@include button('--green', #20b98d, #48d2aa, #48d2aa, #fff);
@include button('--blue', #455baa, #5b76d4, #5b76d4, #fff);
@include button('--yellow', #efc921, #ffdd44, #ffdd44, #544e00);

// <a class="button" href="" role="link" title="">Button</a>
