// FONT SIZE - PX TO REM ------------------------------------------------------

// @include font-size(16)
@mixin font-size($size: $font-size) {
    font-size: ($size) + px;
    font-size: ($size / $font-size) + rem;
}

// BACKGROUND GRADIENT GENERATOR ----------------------------------------------

// @include background-gradient(background, start color, end color);
@mixin background-gradient($background-color, $start-color, $end-color) {
    background-color: $background-color;
    background-repeat: repeat-x;
    // Android 2.1 - 3.0
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($start-color), to($end-color));
    // Safari 5.1+, Chrome 10+, iOS Safari, Android 4.0+
    background-image: -webkit-linear-gradient($start-color, $end-color);
    background-image: linear-gradient($start-color, $end-color);
}

// LINK COLOR GENERATOR -------------------------------------------------------

// @include links(link color, actice color, hover color)
@mixin links ($link, $active, $hover ) {
    a {
        color: $link;
        text-decoration: underline;
        &:visited { color: $link; }
        &:hover { color: $hover; }
        &:active { color: $active; }
    }
}

// BREAKPOINT GENERATOR -------------------------------------------------------

// @include breakpoint(size){ content }
@mixin breakpoint($point) {
    // Mobile
    @if $point == mobile {
        @media (max-width: $breakpoint-xs) {
            @content;
        }
    }
    // Tablet
    @else if $point == tablet {
        @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-s) {
            @content;
        }
    }
    // Desktop
    @else if $point == desktop {
        @media (min-width: $breakpoint-s) and (max-width: $breakpoint-l)  {
            @content;
        }
    }
    // Large Desktop
    @else if $point == large-desktop {
        @media (min-width: $breakpoint-l) and (max-width: $breakpoint-xl)  {
            @content;
        }
    }
    // Superwide
    @else if $point == superwide {
        @media (min-width: $breakpoint-xl)  {
            @content;
        }
    }
}
