// CLEARFIX
%row,
.row {
    *zoom: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*
    FONT SIZE
    Usage: @include font-size(16)
    Output:
        .example {
            font-size: 16px;
            font-size: 1rem;
        }
*/

@mixin font-size($size: $font-size) {
    font-size: ($size) + px;
    font-size: ($size / $font-size) + rem;
}

/*
    BOX SIZING
    Usage: @include box-sizing(border-box)
    Output:
        .example {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
*/

@mixin box-sizing($i) {
   -webkit-box-sizing: $i;
   -moz-box-sizing: $i; 
   box-sizing: $i;    
}

/*
    USER SELECT
    Usage: @include user-select(none)
    Output:
        .example {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
*/

@mixin user-select($i) {
    -webkit-user-select: $i;
    -moz-user-select: $i;
    user-select: $i;
}

/*
    BOX SHADOW
    Usage: @include box-shadow(10px 10px 5px 0px rgba(0,0,0,0.75))
    Output:
        .example {
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
*/

@mixin box-shadow($i) {
    -webkit-box-shadow: $i;
    -moz-box-shadow: $i;
    box-shadow: $i;
}

/*
    TRANSFORM
    Usage: @include transform(scale(0.769, 1))
    Output:
        .example {
            -webkit-transform: scale(0.769, 1); 
            -ms-transform: scale(0.769, 1);
            transform: scale(0.769, 1);
        }
*/

@mixin transform($i) {
   -webkit-transform: $i; 
   -ms-transform: $i;
   transform: $i;
}

@mixin transition($i) {
   -webkit-transition: $i;
   -moz-transition: $i;
   -ms-transition: $i;
   transition: $i;
}

/*
    BORDER RADIUS
    Usage: @include radius(4px)
    Output:
        .example {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
*/

@mixin radius($radius: $border-radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/*
    CENTER ALL
    Usage: @include center-all;
    Output:
        .example {
            top: 50%;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
*/

@mixin center-all {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
    OPACITY
    Usage: @include opacity(0.5);
    Output:
        .example {
            opacity: 0.5;
            filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#50)";
        }
*/

@mixin opacity($opacity) {
    opacity: $opacity;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
}

/*
    POSITION
    Usage: @include position(absolute, 10px, 10px, null, 39px);
    Output:
        .example {
            position:absolute;
            top:10px;
            right:10px;
            left:39px
        }
*/

@mixin position($type, $top, $right, $bottom, $left) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/*
    SIZE
    Usage: @include size(200px, 100px);
    Output:
        .example {
            width:200px;
            height:100px
        }
*/

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

/*
    BACKGROUND GRADIENT
    Usage: @include background-gradient(#efefef, #f00f00, vertical);
    Output:
        .example {
            background: #efefef;
            background: -webkit-linear-gradient(top, #efefef, #f00f00);
            background: linear-gradient(to bottom, #efefef, #f00f00);
        }
*/

@mixin background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;
    @if $orientation == 'vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    } @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

/*
    LINKS
    Usage: @include links(red, blue, yellow)
    Output:
        a {
          color: red;
          text-decoration: underline;
        }
        a:visited {
          color: red;
        }
        a:hover {
          color: yellow;
        }
        a:active {
          color: blue;
        }
*/

@mixin links ($link, $active, $hover ) {
    a {
        color: $link;
        text-decoration: underline;
        &:visited { color: $link; }
        &:hover { color: $hover; }
        &:active { color: $active; }
    }
}

/*
    BREAKPOINTS
    Usage: @include breakpoint(size){ content }
*/

@mixin breakpoint($point) {
    // Mobile
    @if $point == mobile {
        @media (max-width: $breakpoint-xs) {
            @content;
        }
    }
    // Tablet
    @else if $point == tablet {
        @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-s) {
            @content;
        }
    }
    // Desktop
    @else if $point == desktop {
        @media (min-width: $breakpoint-s) and (max-width: $breakpoint-l)  {
            @content;
        }
    }
    // Large Desktop
    @else if $point == large-desktop {
        @media (min-width: $breakpoint-l) and (max-width: $breakpoint-xl)  {
            @content;
        }
    }
    // Superwide
    @else if $point == superwide {
        @media (min-width: $breakpoint-xl)  {
            @content;
        }
    }
}
