body {
    font-family: $font-family;
    @include font-size($font-size);
    line-height: 1.65;
    color: $text-color;
}

// HEADERS --------------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $header-color;
    display: block;
    font-weight: 600;
    line-height: 1.3em;
}

h1, .h1 {
    @include font-size(48);
}

h2, .h2 {
    @include font-size(28);
}

h3, .h3 {
    @include font-size(22);
}

h4, .h4 {
    @include font-size(18);
}

h5, .h5 {
    @include font-size(16);
}

h6, .h6 {
    @include font-size(14);
}

// TEXT FORMATTING ------------------------------------------------------------

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

.text--highlight {
    background-image: -webkit-linear-gradient(#fdffa4, #fdffa4);
    background-image: linear-gradient(#fdffa4, #fdffa4);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
}

.text--underline {
    text-decoration: underline;
}

.text--overline {
    text-decoration: overline;
}

.text--strikethrough {
    text-decoration: line-through;
}

.text--small {
    @include font-size($font-size - 2);
}

.text--large {
    @include font-size($font-size + 2);
}

.text--lead {
    @include font-size($font-size + 6);
    font-weight: 300;
}

.text--loud {
    font-weight: 600;
    color: #000;
}

.text--quiet {
    color: #fff;
}

.text--sub, .text--sup, sub, sup {
    @include font-size(11);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.text--sub, sub {
    bottom: -0.25em;
}

.text--sup, sup {
    top: -0.5em;
}

@include links($link-color, $link-color-active, $link-color-hover);

a:active,
a:hover {
  outline-width: 1;
}

// LAYOUTS --------------------------------------------------------------------

// Lists
li ul, li ol {
    margin: 0;
}

ul, ol {
    margin: 0 0 1em 0;
    padding: 0;
}

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

dl {
    margin: 0 0 1.5em 0;
}

dl dt {
    font-weight: bolder;
}

dd {
    margin-left: 1.5em;
}

// Tables
table {
    margin-bottom: 1.4em;
    width:100%;
}

th {
    font-weight: bolder;
}

thead th {
    background: #c3d9ff;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

tbody tr:nth-child(even) td, tbody tr.even td {
  background: #e5ecf9;
}

tfoot {
    font-style: italic;
}

caption {
    background: #eee;
}

blockquote {
    margin-left: 0;
    padding: 15px 2rem;
    border-left: 3px solid #e4e4e4;
    p:last-child {
        margin-bottom: 0;
        font-style: italic;
        color: #8f959a;
    }
    p:first-child {
        margin-top: 0;
    }
}
