body {
    font-family: $font-family;
    @include font-size($font-size);
    line-height: 1.5;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $header-color;
}

h1, .h1 {
    @include font-size(56);
}

h2, .h2 {
    @include font-size($font-size + 6);
}

h3, .h3 {
    @include font-size($font-size);
}

h4, .h4 {
    @include font-size($font-size);
    font-family: $font-family-secondary;
    color: $header-color-secondary;
}

h5, .h5 {
    @include font-size($font-size - 2);
}

h6, .h6 {
    @include font-size($font-size - 2);
    font-family: $font-family-secondary;
    color: $header-color-secondary;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

.highlight {
    background:#ff0;
}

.small {
    @include font-size($font-size - 2);
}

.large {
    @include font-size($font-size + 2);
}

@include links($link-color, $link-color-active, $link-color-hover);

a:active,
a:hover {
  outline-width: 1;
}

li ul, li ol {
    margin: 0;
}

ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5em 0;
}

dl dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

table {
    margin-bottom: 1.4em;
    width:100%;
}

th {
    font-weight: bold;
}

thead th {
    background: #c3d9ff;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

tbody tr:nth-child(even) td, tbody tr.even td {
  background: #e5ecf9;
}

tfoot {
    font-style: italic;
}

caption {
    background: #eee;
}
