// TYPOGRAPHY -----------------------------------------------------------------

$font-family: Helvetica, Arial, freesans, sans-serif;
$font-family-secondary: Georgia, "Times New Roman", serif;
$font-size: 16;

// lightest colour that meets WCAG AAA
$text-color: #595959;
$text-color-secondary: #414141;
$text-color-tertiary: #6c6c6c;

$header-color: #6c6c6c;
$header-color-secondary: #414141;

$link-color: #5a00ff;
$link-color-active: #00deff;
$link-color-hover: #ff0054;

// STYLE ----------------------------------------------------------------------

$border-radius: 4px;
$border-radius-small: 2px;
$border-radius-large: 6px;

// GRID -----------------------------------------------------------------------

// column class identifier
$grid-column-class: column;

// offset class identifier
$grid-offset-class: offset;

// grid width
$grid-width: 100%;

// number of columns
$grid-column-number: 16;

// initial breakpoint - below this columns will display linearly.
$breakpoint-xs: 480px;

// small breakpoint
$breakpoint-s: 960px;

// large breakpoint
$breakpoint-l: 1200px;

// extra large breakpoint
$breakpoint-xl: 1680px;
