
.row {
  *zoom: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  
  .row:before,
  .row:after {
    content: " ";
    display: table; }
  
  .row:after {
    clear: both; }

/*
    FONT SIZE
    Usage: @include font-size(16)
    Output:
        .example {
            font-size: 16px;
            font-size: 1rem;
        }
*/
/*
    BOX SIZING
    Usage: @include box-sizing(border-box)
    Output:
        .example {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
*/
/*
    USER SELECT
    Usage: @include user-select(none)
    Output:
        .example {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
*/
/*
    BOX SHADOW
    Usage: @include box-shadow(10px 10px 5px 0px rgba(0,0,0,0.75))
    Output:
        .example {
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
*/
/*
    TRANSFORM
    Usage: @include transform(scale(0.769, 1))
    Output:
        .example {
            -webkit-transform: scale(0.769, 1);
            -ms-transform: scale(0.769, 1);
            transform: scale(0.769, 1);
        }
*/
/*
    BORDER RADIUS
    Usage: @include radius(4px)
    Output:
        .example {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
*/
/*
    CENTER ALL
    Usage: @include center-all;
    Output:
        .example {
            top: 50%;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
*/
/*
    OPACITY
    Usage: @include opacity(0.5);
    Output:
        .example {
            opacity: 0.5;
            filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#50)";
        }
*/
/*
    POSITION
    Usage: @include position(absolute, 10px, 10px, null, 39px);
    Output:
        .example {
            position:absolute;
            top:10px;
            right:10px;
            left:39px
        }
*/
/*
    SIZE
    Usage: @include size(200px, 100px);
    Output:
        .example {
            width:200px;
            height:100px
        }
*/
/*
    BACKGROUND GRADIENT
    Usage: @include background-gradient(#efefef, #f00f00, vertical);
    Output:
        .example {
            background: #efefef;
            background: -webkit-linear-gradient(top, #efefef, #f00f00);
            background: linear-gradient(to bottom, #efefef, #f00f00);
        }
*/
/*
    LINKS
    Usage: @include links(red, blue, yellow)
    Output:
        a {
          color: red;
          text-decoration: underline;
        }
        a:visited {
          color: red;
        }
        a:hover {
          color: yellow;
        }
        a:active {
          color: blue;
        }
*/
/*
    BREAKPOINTS
    Usage: @include breakpoint(size){ content }
*/
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15, .column-16 {
  width: 100%;
  float: none;
  box-sizing: border-box; }

@media (min-width: 480px) {
  .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15, .column-16 {
    float: left; }
  .column-1 {
    width: 6.25%; }
  .offset-1 {
    margin-left: 6.25%; }
  .column-2 {
    width: 12.5%; }
  .offset-2 {
    margin-left: 12.5%; }
  .column-3 {
    width: 18.75%; }
  .offset-3 {
    margin-left: 18.75%; }
  .column-4 {
    width: 25%; }
  .offset-4 {
    margin-left: 25%; }
  .column-5 {
    width: 31.25%; }
  .offset-5 {
    margin-left: 31.25%; }
  .column-6 {
    width: 37.5%; }
  .offset-6 {
    margin-left: 37.5%; }
  .column-7 {
    width: 43.75%; }
  .offset-7 {
    margin-left: 43.75%; }
  .column-8 {
    width: 50%; }
  .offset-8 {
    margin-left: 50%; }
  .column-9 {
    width: 56.25%; }
  .offset-9 {
    margin-left: 56.25%; }
  .column-10 {
    width: 62.5%; }
  .offset-10 {
    margin-left: 62.5%; }
  .column-11 {
    width: 68.75%; }
  .offset-11 {
    margin-left: 68.75%; }
  .column-12 {
    width: 75%; }
  .offset-12 {
    margin-left: 75%; }
  .column-13 {
    width: 81.25%; }
  .offset-13 {
    margin-left: 81.25%; }
  .column-14 {
    width: 87.5%; }
  .offset-14 {
    margin-left: 87.5%; }
  .column-15 {
    width: 93.75%; }
  .offset-15 {
    margin-left: 93.75%; }
  .column-16 {
    width: 100%; }
  .offset-16 {
    margin-left: 100%; }
  .offset-0 {
    margin-left: 0; }
  .hide {
    display: none; } }

@media (max-width: 480px) {
  .column-1--xs {
    width: 6.25%; }
  .offset-1--xs {
    margin-left: 6.25%; }
  .column-2--xs {
    width: 12.5%; }
  .offset-2--xs {
    margin-left: 12.5%; }
  .column-3--xs {
    width: 18.75%; }
  .offset-3--xs {
    margin-left: 18.75%; }
  .column-4--xs {
    width: 25%; }
  .offset-4--xs {
    margin-left: 25%; }
  .column-5--xs {
    width: 31.25%; }
  .offset-5--xs {
    margin-left: 31.25%; }
  .column-6--xs {
    width: 37.5%; }
  .offset-6--xs {
    margin-left: 37.5%; }
  .column-7--xs {
    width: 43.75%; }
  .offset-7--xs {
    margin-left: 43.75%; }
  .column-8--xs {
    width: 50%; }
  .offset-8--xs {
    margin-left: 50%; }
  .column-9--xs {
    width: 56.25%; }
  .offset-9--xs {
    margin-left: 56.25%; }
  .column-10--xs {
    width: 62.5%; }
  .offset-10--xs {
    margin-left: 62.5%; }
  .column-11--xs {
    width: 68.75%; }
  .offset-11--xs {
    margin-left: 68.75%; }
  .column-12--xs {
    width: 75%; }
  .offset-12--xs {
    margin-left: 75%; }
  .column-13--xs {
    width: 81.25%; }
  .offset-13--xs {
    margin-left: 81.25%; }
  .column-14--xs {
    width: 87.5%; }
  .offset-14--xs {
    margin-left: 87.5%; }
  .column-15--xs {
    width: 93.75%; }
  .offset-15--xs {
    margin-left: 93.75%; }
  .column-16--xs {
    width: 100%; }
  .offset-16--xs {
    margin-left: 100%; }
  .offset-0--xs {
    margin-left: 0; }
  .hide--xs {
    display: none; } }

@media (min-width: 480px) and (max-width: 960px) {
  .column-1--s {
    width: 6.25%; }
  .offset-1--s {
    margin-left: 6.25%; }
  .column-2--s {
    width: 12.5%; }
  .offset-2--s {
    margin-left: 12.5%; }
  .column-3--s {
    width: 18.75%; }
  .offset-3--s {
    margin-left: 18.75%; }
  .column-4--s {
    width: 25%; }
  .offset-4--s {
    margin-left: 25%; }
  .column-5--s {
    width: 31.25%; }
  .offset-5--s {
    margin-left: 31.25%; }
  .column-6--s {
    width: 37.5%; }
  .offset-6--s {
    margin-left: 37.5%; }
  .column-7--s {
    width: 43.75%; }
  .offset-7--s {
    margin-left: 43.75%; }
  .column-8--s {
    width: 50%; }
  .offset-8--s {
    margin-left: 50%; }
  .column-9--s {
    width: 56.25%; }
  .offset-9--s {
    margin-left: 56.25%; }
  .column-10--s {
    width: 62.5%; }
  .offset-10--s {
    margin-left: 62.5%; }
  .column-11--s {
    width: 68.75%; }
  .offset-11--s {
    margin-left: 68.75%; }
  .column-12--s {
    width: 75%; }
  .offset-12--s {
    margin-left: 75%; }
  .column-13--s {
    width: 81.25%; }
  .offset-13--s {
    margin-left: 81.25%; }
  .column-14--s {
    width: 87.5%; }
  .offset-14--s {
    margin-left: 87.5%; }
  .column-15--s {
    width: 93.75%; }
  .offset-15--s {
    margin-left: 93.75%; }
  .column-16--s {
    width: 100%; }
  .offset-16--s {
    margin-left: 100%; }
  .offset-0--s {
    margin-left: 0; }
  .hide--s {
    display: none; } }

@media (min-width: 960px) and (max-width: 1200px) {
  .column-1--m {
    width: 6.25%; }
  .offset-1--m {
    margin-left: 6.25%; }
  .column-2--m {
    width: 12.5%; }
  .offset-2--m {
    margin-left: 12.5%; }
  .column-3--m {
    width: 18.75%; }
  .offset-3--m {
    margin-left: 18.75%; }
  .column-4--m {
    width: 25%; }
  .offset-4--m {
    margin-left: 25%; }
  .column-5--m {
    width: 31.25%; }
  .offset-5--m {
    margin-left: 31.25%; }
  .column-6--m {
    width: 37.5%; }
  .offset-6--m {
    margin-left: 37.5%; }
  .column-7--m {
    width: 43.75%; }
  .offset-7--m {
    margin-left: 43.75%; }
  .column-8--m {
    width: 50%; }
  .offset-8--m {
    margin-left: 50%; }
  .column-9--m {
    width: 56.25%; }
  .offset-9--m {
    margin-left: 56.25%; }
  .column-10--m {
    width: 62.5%; }
  .offset-10--m {
    margin-left: 62.5%; }
  .column-11--m {
    width: 68.75%; }
  .offset-11--m {
    margin-left: 68.75%; }
  .column-12--m {
    width: 75%; }
  .offset-12--m {
    margin-left: 75%; }
  .column-13--m {
    width: 81.25%; }
  .offset-13--m {
    margin-left: 81.25%; }
  .column-14--m {
    width: 87.5%; }
  .offset-14--m {
    margin-left: 87.5%; }
  .column-15--m {
    width: 93.75%; }
  .offset-15--m {
    margin-left: 93.75%; }
  .column-16--m {
    width: 100%; }
  .offset-16--m {
    margin-left: 100%; }
  .offset-0--m {
    margin-left: 0; }
  .hide--m {
    display: none; } }

@media (min-width: 1200px) and (max-width: 1680px) {
  .column-1--l {
    width: 6.25%; }
  .offset-1--l {
    margin-left: 6.25%; }
  .column-2--l {
    width: 12.5%; }
  .offset-2--l {
    margin-left: 12.5%; }
  .column-3--l {
    width: 18.75%; }
  .offset-3--l {
    margin-left: 18.75%; }
  .column-4--l {
    width: 25%; }
  .offset-4--l {
    margin-left: 25%; }
  .column-5--l {
    width: 31.25%; }
  .offset-5--l {
    margin-left: 31.25%; }
  .column-6--l {
    width: 37.5%; }
  .offset-6--l {
    margin-left: 37.5%; }
  .column-7--l {
    width: 43.75%; }
  .offset-7--l {
    margin-left: 43.75%; }
  .column-8--l {
    width: 50%; }
  .offset-8--l {
    margin-left: 50%; }
  .column-9--l {
    width: 56.25%; }
  .offset-9--l {
    margin-left: 56.25%; }
  .column-10--l {
    width: 62.5%; }
  .offset-10--l {
    margin-left: 62.5%; }
  .column-11--l {
    width: 68.75%; }
  .offset-11--l {
    margin-left: 68.75%; }
  .column-12--l {
    width: 75%; }
  .offset-12--l {
    margin-left: 75%; }
  .column-13--l {
    width: 81.25%; }
  .offset-13--l {
    margin-left: 81.25%; }
  .column-14--l {
    width: 87.5%; }
  .offset-14--l {
    margin-left: 87.5%; }
  .column-15--l {
    width: 93.75%; }
  .offset-15--l {
    margin-left: 93.75%; }
  .column-16--l {
    width: 100%; }
  .offset-16--l {
    margin-left: 100%; }
  .offset-0--l {
    margin-left: 0; }
  .hide--l {
    display: none; } }

@media (min-width: 1680px) {
  .column-1--xl {
    width: 6.25%; }
  .offset-1--xl {
    margin-left: 6.25%; }
  .column-2--xl {
    width: 12.5%; }
  .offset-2--xl {
    margin-left: 12.5%; }
  .column-3--xl {
    width: 18.75%; }
  .offset-3--xl {
    margin-left: 18.75%; }
  .column-4--xl {
    width: 25%; }
  .offset-4--xl {
    margin-left: 25%; }
  .column-5--xl {
    width: 31.25%; }
  .offset-5--xl {
    margin-left: 31.25%; }
  .column-6--xl {
    width: 37.5%; }
  .offset-6--xl {
    margin-left: 37.5%; }
  .column-7--xl {
    width: 43.75%; }
  .offset-7--xl {
    margin-left: 43.75%; }
  .column-8--xl {
    width: 50%; }
  .offset-8--xl {
    margin-left: 50%; }
  .column-9--xl {
    width: 56.25%; }
  .offset-9--xl {
    margin-left: 56.25%; }
  .column-10--xl {
    width: 62.5%; }
  .offset-10--xl {
    margin-left: 62.5%; }
  .column-11--xl {
    width: 68.75%; }
  .offset-11--xl {
    margin-left: 68.75%; }
  .column-12--xl {
    width: 75%; }
  .offset-12--xl {
    margin-left: 75%; }
  .column-13--xl {
    width: 81.25%; }
  .offset-13--xl {
    margin-left: 81.25%; }
  .column-14--xl {
    width: 87.5%; }
  .offset-14--xl {
    margin-left: 87.5%; }
  .column-15--xl {
    width: 93.75%; }
  .offset-15--xl {
    margin-left: 93.75%; }
  .column-16--xl {
    width: 100%; }
  .offset-16--xl {
    margin-left: 100%; }
  .offset-0--xl {
    margin-left: 0; }
  .hide--xl {
    display: none; } }

body {
  font-family: Helvetica, Arial, freesans, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.65;
  color: #3c5167; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #32465a;
  display: block;
  font-weight: 600;
  line-height: 1.3em; }

h1, .h1 {
  font-size: 48px;
  font-size: 3rem; }

h2, .h2 {
  font-size: 28px;
  font-size: 1.75rem; }

h3, .h3 {
  font-size: 22px;
  font-size: 1.375rem; }

h4, .h4 {
  font-size: 18px;
  font-size: 1.125rem; }

h5, .h5 {
  font-size: 16px;
  font-size: 1rem; }

h6, .h6 {
  font-size: 14px;
  font-size: 0.875rem; }

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

.highlight {
  background: #fdffa4; }

.underline {
  text-decoration: underline; }

.overline {
  text-decoration: overline; }

.strikethrough {
  text-decoration: line-through; }

.small {
  font-size: 14px;
  font-size: 0.875rem; }

.large {
  font-size: 18px;
  font-size: 1.125rem; }

.lead {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300; }

a {
  color: #5a00ff;
  text-decoration: underline; }
  a:visited {
    color: #5a00ff; }
  a:hover {
    color: #ff0054; }
  a:active {
    color: #00deff; }

a:active,
a:hover {
  outline-width: 1; }

li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0 0 1em 0;
  padding: 0; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bolder; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bolder; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tbody tr:nth-child(even) td, tbody tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

blockquote {
  margin-left: 0;
  padding: 1rem 2rem;
  border-left: 3px solid #e4e4e4; }
  blockquote p:last-child {
    margin-bottom: 0; }

#eu-cookie-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: red;
  display: none; }
  #eu-cookie-warning > .container {
    display: block; }
  #eu-cookie-warning h6 {
    display: block;
    margin: 0; }
  #eu-cookie-warning p {
    display: block;
    margin: 0; }
  #eu-cookie-warning a.close-eu-cookie-warning {
    display: inline-block;
    float: right; }

a.button,
a.button:link,
a.button:visited, a.button--red,
a.button--red:link,
a.button--red:visited, a.button--green,
a.button--green:link,
a.button--green:visited, a.button--blue,
a.button--blue:link,
a.button--blue:visited, a.button--yellow,
a.button--yellow:link,
a.button--yellow:visited {
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  margin: 0;
  letter-spacing: .25px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  font-weight: 600;
  text-shadow: none;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 4px;
  -webkit-transition: transform 100ms ease, background 50ms ease, box-shadow 100ms ease;
  -webkit-transition: background 50ms ease, box-shadow 100ms ease, -webkit-transform 100ms ease;
  transition: background 50ms ease, box-shadow 100ms ease, -webkit-transform 100ms ease;
  transition: transform 100ms ease, background 50ms ease, box-shadow 100ms ease;
  transition: transform 100ms ease, background 50ms ease, box-shadow 100ms ease, -webkit-transform 100ms ease;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.12); }

a.button:hover, a.button--red:hover, a.button--green:hover, a.button--blue:hover, a.button--yellow:hover {
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  box-shadow: 0px 6px 7px -2px rgba(0, 0, 0, 0.2); }

a.button:active, a.button--red:active, a.button--green:active, a.button--blue:active, a.button--yellow:active {
  -webkit-transform: translate(0, 1px);
  transform: translate(0, 1px);
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.12); }

a.button,
a.button:link,
a.button:visited {
  background: #37526d;
  color: #fff; }

a.button:hover {
  background: #55779a;
  color: #fff; }

a.button:active {
  background: #394b8b; }

a.button--red,
a.button--red:link,
a.button--red:visited {
  background: #da3e2e;
  color: #fff; }

a.button--red:hover {
  background: #f35343;
  color: #fff; }

a.button--red:active {
  background: #000; }

a.button--green,
a.button--green:link,
a.button--green:visited {
  background: #20b98d;
  color: #fff; }

a.button--green:hover {
  background: #48d2aa;
  color: #fff; }

a.button--green:active {
  background: #000; }

a.button--blue,
a.button--blue:link,
a.button--blue:visited {
  background: #455baa;
  color: #fff; }

a.button--blue:hover {
  background: #5b76d4;
  color: #fff; }

a.button--blue:active {
  background: #394b8b; }

a.button--yellow,
a.button--yellow:link,
a.button--yellow:visited {
  background: #efc921;
  color: #544e00; }

a.button--yellow:hover {
  background: #ffdd44;
  color: #544e00; }

a.button--yellow:active {
  background: #000; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box; }
